@forward 'scss/variables';
@forward 'scss/functions';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0
}

.mat-mdc-select-panel {
  background-color: white !important;
}

.pointer {
  cursor: pointer;
}